.avatar {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  padding: 2px;
  border: 2px #FFFFFF solid;
}

.online {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #93ec0c;
  border: #416c01 1px solid;
}