<section class="py-3 py-md-5 mh-100 d-flex justify-content-center align-items-center">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center">
    <h2 class="d-flex justify-content-center align-items-center gap-2 mb-4">
      <span class="display-1 fw-bold ff-poppins">4</span>
      <i class="bi bi-exclamation-circle-fill text-danger display-4"></i>
      <span class="display-1 fw-bold ff-poppins">4</span>
    </h2>
    <h3 class="h2 mb-2 ff-inter text-center">Oops! Sepertinya kamu tersesat <i class="bi bi-emoji-frown"></i></h3>
    <p class="mb-3 ff-poppins text-center">Halaman yang kamu tuju <b class="text-danger">tidak ditemukan</b>.</p>            
    <button routerLink="/dashboard" class="button-primary d-flex justify-content-center rounded-pill">
        Kembali ke dashboard 
      </button>
  </div>
</section>